{%extends "tour/package_info_base.html" %}
{% load static %}
{%block head%}
{%endblock%}
{% block body%}
<table border="2">
    <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
              <img  width=400px height=400px src="{% static 'images/paris/Disneyland.jpg' %}" />
             </div>
            </div>
             <div><center><font color="green"><h1>Disneyland Paris</h1></font></center>
              Disneyland Paris consists of two parks, Disneyland Park and Walt Disney Studios Park,
              and a shopping district, Disney Village. Disneyland Park is the park everybody has heard of
              and expects, and Walt Disney Studios Park has a more general movie making theme - but it's still
              very Disney. The Village is comprised of stores and restaurants. Disney's theme parks are famous
              for their "Audio-Animatronics," attention to detail, service mentality, crowds,and high prices. The
              intention is to completely recreate the "magic" of the Disney franchise; employees are not "staff" but
              "cast members"; the park is kept insanely clean; and everywhere you will find a perfectly running machine.
              For example, you won't find the same Disney character twice within sight - there are no duplicates. Children
              are clearly the focus of Disneyland, but older visitors are not neglected either..
             </div>
         </div>

    </tr>
</table>
    <table border="1">
    <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/paris/Montmartre.jpg' %}" />
             </div>
            </div>
             <div><center><font color="green"><h1>Montmartre</h1></font></center>
             Montmarte is the most romantic neighborhood of Paris
             The district earned its name after its 130 m high hill
             The area is best know for Sacré Coeur Basilica (Sacred Heart) and Moulin Rouge
             Rather than having lots of things to see, it offers a charming area to take a stroll
             Staircase streets, quaint windmills, and sweeping views characterize the area
             The area played an imporant role in belle époque (a prospering period in European social history)
             Painters and poets such as Salvador Dalí, Amedeo Modigliani, Claude Monet, Pablo Picasso, Vincent van Gogh used to live here.
             </div>
         </div>

    </tr>
    </table>
    <table border="2">
    <tr>
        <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
              <img  width=400px height=400px src="{% static 'images/paris/MoulinRougeParis.jpg' %}" />
             </div>
            </div>
            <div><center><font color="green"><h1>Moulin Rouge in Paris</h1></font></center>
             The most famous cabaret in the world!
             The Moulin Rouge was immortalized by Toulouse-Lautrec and was the cradle of the music hall with the famous
             Mistinguett. Since it opened in 1889, it has dazzled the whole world. Edith Piaf, Liza Minnelli, Frank
             Sinatra and Elton John … numerous French and international personalities have over the years become
             enamoured of this legendary cabaret! The room is magnificently decorated in belle époque style and red
             velvet, with typical burlesque frescoes. A wonderful place to enjoy gourmet French food by by the Chef David
             le Quellec, served with champagne - the official drink of the cabaret. All your senses are awakened as you enjoy
             your food and watch the show! Admire a troupe of 60 artists from all over the world who perform twice each evening in the revue 'Féerie', a show made up of four breathtaking acts: feathers, rhinestones, sequins, sparkling decor, acrobats, original music, international attractions ... not forgetting the famous fast-paced French Cancan. and gazetted holidays.
           </div>
        </div>
    </tr>
    </table>
   <table border="1">
     <tr>
          <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/paris/NotreDameCathedralParis.jpg' %}" />
             </div>
            </div>
            <div><center><font color="green"><h1>Notre Dame Cathedral in Paris</h1></font></center>
             Notre-Dame lies at the eastern end of the Île de la Cité and was built on the ruins of two earlier
             churches, which were themselves predated by a Gallo-Roman temple dedicated to Jupiter. The cathedral was
             initiated by Maurice de Sully, bishop of Paris, who about 1160 conceived the idea of converting into a
             single building, on a larger scale, the ruins of the two earlier basilicas. The foundation stone was laid
             by Pope Alexander III in 1163, and the high altar was consecrated in 1189. The choir, the western facade,
             and the nave were completed by 1250, and porches, chapels, and other embellishments were added over the
                next 100 years..
            </div>
          </div>
    </tr>
    </table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

{%endblock%}