{%extends "tour/package_info_base.html" %}
{% load static %}
{%block head%}
{%endblock%}
{% block body%}
<table border="2">
    <tr>
        <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                <img  width=400px height=400px src="{% static 'images/shimala/Annandale.jpg' %}" />
             </div>
            </div>

            <div ><center><font color="green"><h1>Annandale</h1></font></center>
            Annandale is a plateau that has been developed as the playground of Shimla.
            Annandale is located at about 2-4 kilometers away from the Ridge.
            At the altitude of about 1864 meters, it is a favourite spot for cricket, picnics, golf and polo.
            From this high point you can get the best views of the city and its surroundings.</div>
           </div>
        </div>
    </tr>
</table>

<table border="1">
    <tr>
        <div class="row" >
            <div class="col-md-4">
                <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/shimala/daranghatisanctuary.jpg' %}" />
                </div>
            </div>
            <div><center><font color="green"><h1>Daranghati Sanctuary</h1></font></center>
            Daranghati Sanctuary is about 150 kilometers from Shimla, near Rampur Bushahr, in the higher-elevation area of
            the district of Shimla. This area was the hunting ground of the Rampur Bushahr royal family and was designated
            as a sanctuary in 1962. Daranghati has undisturbed forest with wildlife including tragopan, monal, Koklas and
            Khalij pheasants, musk deer, ghoral and thar. This is an ideal place for trek lovers. There is a network of
            bridle paths and inspection paths in the sanctuary, and the visitors can get assistance from the forest personnel
            posted at Dofda and Sarahan. The Sanctuary has cool summers and severe winters. There is heavy precipitation in
            the monsoon months of July to September and frequent snowfall from January to March. The nearest airport is at
            Jubbarhatti, about 23 kilometers from Shimla and about 150 kilometers from Rampur. A narrow-gauge train moves
            slowly through the mountains and valleys, showing you beautiful landscapes from Shimla to Kalka.
            </div>
        </div>
    </tr>
</table>

<table border="2">
    <tr>
        <div class="row" >
             <div class="col-md-4">
               <div class="thumbnail">
                <img  width=400px height=400px src="{% static 'images/shimala/ShimalastateMeausom.jpg' %}" /></div>
               </div>
               <div><center><font color="green"><h1>Shimla State Museum</h1></font></center>
               The State Museum, which opened in 1974, contains sculptures, paintings, and exhibits about the art, archaeology
               and cultural anthropology of the Himachal Region and other states of India. The museum has about 9000 objects in the
               collection. Galleries include:
               Indian archeology Himachal archaeology Prehistoric objects Wood carvings Monuments Photographs Bronzes Arms Gallery
               Gandhi Gallery Philatelic Anthropological Pahari miniature paintings Rajasthan paintings Contemporary art and wall paintings
               The museum is open from 10 AM to 1:30 PM and from 2 to 5 pm. Closed Mondays, second Saturday of every month, and gazetted holidays.
              </div>
        </div>
    </tr>
</table>

<table border="1">
     <tr>
          <div class="row" >
             <div class="col-md-4">
               <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/shimala/SummerHill.jpg' %}" />
               </div>
             </div>
             <div><center><font color="green"><h1>Summer Hill</h1></font></center>
             Summer Hill is labout 5 kilometers from Shimla, at an altitude of about 1983 meters above sea level.
             Summer Hill is a beautiful township and suburb on the Shimla-Kalka Railway line. The Father of the Nation,
             Mahatma Gandhi, visited Shimla and lived in these quiet surroundings at the elegant Georgian House of Raj Kumari
             Amrit Kaur. The temperature during winter is very cold; people stay inside. At other times the place is pleasant,
             particularly during summer, although even then you might need woolen clothes and accessories at night..
             </div>
          </div>
    </tr>
</table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

{%endblock%}