.button{
margin-top:40px;
height:50px;
width:100px;
margin-left:275px;
cursor: pointer;
font-size: 16px;
}



.usercheck{
margin-top:100px;
margin-left:0px;
}
.bottom{
margin-top:15px;
height:300px;
}
