{% extends "tour/home.html"%}
{% load static %}

{%block head%}
    <title>About Us</title>
    <style>
.abouttop {
   background-image: url("{% static 'images/AbountUstBottom2.jpg' %}");
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;top:0px;
}
.back{
background-color:#144F3B  ;
}
</style>
{%endblock%}
{% block body%}
<div class="abouttop"><center><h1><font>About Us</font></h1></center>
<center><font color="white" left="10px"><p>The tourism sector is a coming together of various suppliers of services
to offer people a complete tourist experience. Travel agents and tour operators
play a vital role in the promotion of tourism. Today the travel and tourism industry
is one of the biggest and most dynamic industries in the world. If you are planning
to be a part of this dynamic industry then you are required to know more about
the travel agency operations than just what happens within the walls of the office.
Introduction to Travel Agency
94 Tourism and Travel Techniques
Today, when the world hasn’t become any bigger, the number of people who
travel around has certainly gone up several hundred thousand times. This increase
in the number of people leaving their place of stay and visiting another place has
resulted in the expansion of travel agencies and their linkages with the principal
suppliers.
The travel agency is a link between the customers, i.e., traveller or tourist
and the principle suppliers, i.e., primary service providers such as tour
wholesalers, hotels, airlines, etc. It is the first stop for anyone considering travel,
especially to a distant place, i.e., tourist destination, in order to make travel
arrangements. The primary job of a travel agency is to provide easy and trouble
free travel to the traveller. It is also important for a travel agency to provide
enough information to the tourist so that the tourist is not cheated during his or
    her travel and has a hassle free trip
    .</p><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</font></center>
    <center><font color="white"><h1>HAVE A GOOD JOURNEY</h1></font></center>
</div>
<div class="bottom" >
    <img width="100%" height="100%" src="{% static 'images/login/loginbottom.jpg' %}" />
</div>

{%endblock %}