{% extends "tour/home.html"%}
{% load static %}
{%block head%}
<title>Django Store - User Login</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{%endblock%}
{% block body%}

<table border="1 black">
    <tr>

        <td>
            <center><font size="3" color="red">Username or Password is incorrect</font></center>
            <center><b><font size="4">User Login </font></b>
            <form class="login" method="post" action="/login_check/">
                {% csrf_token %}
            <p><label for="id_username">Username:</label>
            <input type="text" name="user"> </br></br>
            </p>
            <p><label for="id_password">Password:</label>
            <input type="password" name="pass"> </br></br>
            </p>

                <input type="submit" value="login" />
            </form>
                </center>
        </td>
        
    </tr>


</table>
<div class="bottom" >
    <img width="100%" height="100%" src="{% static 'images/login/loginbottom.jpg' %}" />
</div>




</form>
{%endblock %}