{%extends "tour/package_info_base.html" %}
{% load static %}
{%block head%}
{%endblock%}
{% block body%}
  <table border="2">
    <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
             <img  width=400px height=400px src="{% static 'images/london/KensingtonPalace.jpg' %}" />
             </div>
              <div><center><font color="green"><h1>Kensington Palace</h1></font></center>
              Kensington Palace offers a glimpse into the lives of its past royal residents. Discover stories from Queen Victoria's life in the Victoria
              Revealed exhibition; master courtly games in the King's State Apartments; glimpse a modern princess in an
              exhibition of Diana's dresses; and uncover the secrets of a fragile dynasty in the Queen's State Apartments.
            </div>
            </div>
         </div>
    </tr>
  </table>
  <table border="1">
    <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/london/londondungeon.jpg' %}" />
             </div>
             <div><center><font color="green"><h1>London Dungeon</h1></font></center>
              Delve into the ancient capital’s most horrible history at the London Dungeon - experience live actors,
              thrilling rides and exciting special effects. Step back into the darkest of times… are you brave enough
             to face 90 minutes of London’s dark past?
             </div>
            </div>
         </div>
    </tr>
  </table>
  <table border="2">
    <tr>
        <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/london/shard.jpg' %}" />
             </div>
            <div><center><font color="green"><h1>The Shard</h1></font></center>
            Rise high above London and see the city's iconic skyline from a unique perspective, with views stretching
            up to 40 miles (64km). Spot the likes of the Coca-Cola London Eye, St Paul's Cathedral and Wembley Stadium
            from The View from The Shard's observation deck, which sits 800ft (244m) up western Europe's tallest
            buildingmonth, and gazetted holidays.
            </div>
            </div>
        </div>
    </tr>
  </table>
   <table border="1">
     <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/london/sharktank.jpg' %}" />
             </div>
            <div><center><font color="green"><h1>Shark Tank</h1></font></center>
            Get a taste of the deep blue sea at SEA LIFE London. Spot up to 400 species including sharks, stingrays,
            moray eels and clown fish at the aquarium. See stunning green sea turtles and test your nerve on the glass
            "shark walk". Learn more at daily talks and feeding times..
            </div>
            </div>
         </div>
    </tr>
    </table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

{%endblock%}