{%extends "tour/package_info_base.html" %}
{% load static %}
{%block head%}
{%endblock%}
{% block body%}
<table border="2">
    <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/rome/galleriaborghese.jpg' %}" />
             </div>
            </div>
            <div><center><font color="green"><h1>Galleria Borghese</h1></font></center>
              The Galleria Borghese is an art gallery that was built as a party house by Cardinal Sciopione Borghese
                in the 17th century. A nephew of Pope Paul V, the cardinal also was a patron of the arts. The galleria
               today houses many pieces of paintings, sculptures and other antiquities from his collection. Paintings by
               Titian, sculptures by Bernini, and the National Museum of Musical Instruments can be seen here.
            </div>
         </div>
    </tr>
</table>

<table border="1">
    <tr>
        <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/rome/palatinehill.jpg' %}" />
             </div>
            </div>
            <div><center><font color="green"><h1>Palatine Hill</h1></font></center>
              Palatine Hill, one of the Seven Hills of Rome, has links to Roman mythology, as it was here a wolf
              allegedly found the twin boys Romulus and Remus, and cared for them until a shepherd rescued them. Even
              if this legend is not true, Palatine Hill is still the place where Rome was founded. Today only ruins remain
              but during the Imperial era, the hill was completely built up with large palaces..
            </div>
        </div>
    </tr>
</table>

<table border="2">
    <tr>
        <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
               <img  width=400px height=400px src="{% static 'images/rome/piazza.jpg' %}" />
             </div>
            </div>
            <div><center><font color="green"><h1>Piazza del Popolo</h1></font></center>
             The Piazza del Popolo is a large oval square in northern Rome that has been around since the days of the
             Roman Empire. At one time, it was the start of the most important road north. Three churches border the
             square but the eye-catcher is an obelisk from ancient Egypt. On the north side the square is dominated by
             the Porta del Popolo, which leads to the Via Flaminia, a road connecting Rome with the Adriatic coast.
            </div>
        </div>
    </tr>
</table>

<table border="1">
     <tr>
         <div class="row" >
            <div class="col-md-4">
             <div class="thumbnail">
                 <img  width=400px height=400px src="{% static 'images/rome/victor.jpg' %}" />
             </div>
            </div>
           <div><center><font color="green"><h1>Victor Emmanuel II Monument</h1></font></center>
             Built in honour of Victor Emmanuel, the first king of a unified Italy, this bombastic monument may
             appear to be solid white marble but actually contains many rooms inside. It was designed by Giuseppe
             Sacconi in 1885 and completed in 1925. There are two permanent museums, one on Italian Reunification and
             one on emigration from Italy, as well as other spaces that host rotating exhibitions. The Victor Emmanuel
             Monument is not exactly known as one of Rome’s most beautiful structures but it is nevertheless well worth
             the visit, even if only for the great views from the top.
           </div>
         </div>
    </tr>
</table>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>

{%endblock%}